.Header {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
    box-shadow: 0 10px 63px rgba(0, 0, 0, 0.07);
}

.stat {
    display: flex;
    align-items: center;
}

.stat svg {
    margin-right: 7px;
}

.statLink {
    text-decoration: none;
    color: #DC3E22;
    font-size: 16px;
}