.todoItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E4E4E4;
    font-weight: 300;
}

.left {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0;
    flex-basis: 100%;
}

.pomodoroCount {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    border: 1px solid #C4C4C4;
}

.dropdownButton {
    position: relative;
    padding-left: 15px;
}

.dropdownWrapper {
    display: none;
}

.dropdownButton:hover > .dropdownWrapper  {
    display: block;
}

.editTaskInput {
    border: none;
    outline: none;
    width: 100%;
    font-weight: 300;
}